<li>
    <span style="font-family:'consolas', monospace; color:grey; font-size:0.8em; padding-right:10px;">{{date published_at format="YYYY MMM"}}</span> <a class="post-link" href="{{url}}" aria-label="{{title}}">{{title}}</a> 
   
</li>