<div class="post-container">
    <p>{{#if featured}}<span style="margin-left:-15px;margin-right:2px;">⭑</span>{{/if}}<a href="{{url}}" aria-label="{{title}}">{{#if featured}}<strong>{{/if}}{{title}}{{#if featured}}</strong>{{/if}}</a><br>
    <span style="font-family:'consolas', monospace; color:grey; font-size:0.8em;">{{date published_at format="MMMM DD, YYYY"}}</span></p>
</div>