<div>
    <ul class="nav-menu-list">
        <li class="nav-list"><svg width="20" height="20" viewBox="0 0 237 238" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M236.95 6.56991C235.77 13.7099 234.59 20.8399 233.4 27.9799C229.24 53.0199 225.1 78.0599 220.93 103.09C217.65 122.76 214.34 142.42 211.06 162.08C208.95 174.69 206.84 187.3 204.78 199.92C203.99 204.76 201.17 206.56 196.5 205C180.17 199.55 163.84 194.12 147.55 188.56C145.45 187.84 144.28 188.2 142.92 189.93C131.27 204.72 119.56 219.46 107.76 234.13C106.56 235.62 104.88 237.16 103.13 237.68C100.11 238.58 98.0499 236.92 96.7699 233.43C92.9299 222.93 89.0999 212.43 85.2799 201.93C80.8199 189.7 76.3399 177.47 71.9399 165.22C71.3699 163.62 70.4299 162.83 68.8399 162.31C47.6099 155.26 26.3999 148.14 5.17991 141.07C2.78991 140.27 0.489914 139.49 0.0999143 136.52C-0.310086 133.39 1.28991 131.71 3.93991 130.21C26.8099 117.24 49.6099 104.14 72.4299 91.0699C91.4599 80.1699 110.47 69.2499 129.51 58.3499C162.48 39.4799 195.47 20.6299 228.44 1.74992C230.45 0.599915 232.45 0.519915 234.44 1.60991C236.35 2.65991 236.99 4.42991 236.96 6.54991L236.95 6.56991ZM222.61 28.1699C222.42 28.0799 222.23 27.9999 222.04 27.9099C187.53 74.4399 153.02 120.98 118.33 167.76C144.13 176.35 169.52 184.79 195.07 193.3C204.29 137.99 213.45 83.0899 222.6 28.1799L222.61 28.1699ZM195.47 32.8399C137.05 66.1999 77.7199 100.08 17.9399 134.21C19.2899 134.71 19.9899 134.98 20.6999 135.22C37.7499 140.91 54.8199 146.56 71.8499 152.32C73.4699 152.87 74.4099 152.54 75.5699 151.4C88.7799 138.4 102.05 125.44 115.3 112.48C136.81 91.4499 158.36 70.4599 179.8 49.3599C185.44 43.8099 190.7 37.8899 195.47 32.8399ZM99.1899 209.07C99.3499 209.06 99.5099 209.04 99.6699 209.03C99.8399 208.17 100.06 207.31 100.16 206.44C101.39 196.08 102.56 185.71 103.86 175.37C104.31 171.83 104.52 168.32 107 165.2C112.34 158.48 117.3 151.47 122.42 144.57C143.13 116.64 163.83 88.7099 184.53 60.7799C184.91 60.2599 185.22 59.6899 185.57 59.1499C184.97 59.1799 184.71 59.3799 184.47 59.6199C150.61 92.6899 116.75 125.77 82.8499 158.81C81.5899 160.04 81.5499 161.03 82.1199 162.55C86.4299 174.13 90.6599 185.73 94.9099 197.33C96.3499 201.25 97.7699 205.17 99.1999 209.09L99.1899 209.07ZM134.03 184.13C127.31 181.88 120.97 179.76 114.27 177.52C112.79 189.65 111.35 201.54 109.9 213.43C110.12 213.49 110.34 213.56 110.56 213.62C118.29 203.9 126.03 194.19 134.04 184.12L134.03 184.13Z" fill="black"/>
<path d="M222.61 28.1704C213.45 83.0804 204.3 137.99 195.08 193.29C169.52 184.79 144.14 176.34 118.34 167.75C153.03 120.97 187.54 74.4404 222.05 27.9004C222.24 27.9904 222.43 28.0704 222.62 28.1604L222.61 28.1704Z" fill="white"/>
<path d="M195.47 32.8398C190.7 37.8798 185.43 43.8098 179.8 49.3598C158.37 70.4698 136.81 91.4498 115.3 112.48C102.05 125.44 88.7799 138.39 75.5699 151.4C74.4099 152.54 73.4699 152.87 71.8499 152.32C54.8199 146.57 37.7499 140.91 20.6999 135.22C19.9899 134.98 19.2999 134.71 17.9399 134.21C77.7199 100.07 137.05 66.1998 195.47 32.8398Z" fill="white"/>
<path d="M99.19 209.07C97.76 205.15 96.34 201.23 94.9 197.31C90.65 185.71 86.42 174.11 82.11 162.53C81.55 161.01 81.58 160.02 82.84 158.79C116.74 125.76 150.6 92.6699 184.46 59.5999C184.7 59.3699 184.96 59.1599 185.56 59.1299C185.22 59.6799 184.91 60.2499 184.52 60.7599C163.82 88.6899 143.12 116.63 122.41 144.55C117.3 151.45 112.33 158.46 106.99 165.18C104.52 168.29 104.3 171.81 103.85 175.35C102.55 185.7 101.38 196.07 100.15 206.42C100.05 207.29 99.82 208.15 99.66 209.01C99.5 209.02 99.34 209.04 99.18 209.05L99.19 209.07Z" fill="#D1D3D4"/>
<path d="M134.03 184.14C126.02 194.2 118.29 203.92 110.55 213.64C110.33 213.58 110.11 213.51 109.89 213.45C111.34 201.56 112.78 189.67 114.26 177.54C120.96 179.78 127.31 181.9 134.02 184.15L134.03 184.14Z" fill="#D1D3D4"/>
</svg> <a href="/"><strong>All</strong></a></li>
        <li class="nav-list"><svg width="20" height="24" viewBox="0 0 257 247" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2008_25)">
<path d="M130.7 0C133.83 1.21 137.31 1.91 139.98 3.78C142.73 5.7 145.35 8.42 146.87 11.39C156.15 29.54 165.13 47.85 174.11 66.15C175.08 68.14 176.28 68.93 178.45 69.24C194.61 71.56 210.76 74.03 226.9 76.46C231.1 77.09 235.33 77.62 239.5 78.44C247.72 80.06 253.19 84.99 255.69 92.94C258.21 100.94 256.38 108.2 250.48 114.04C236.47 127.94 222.28 141.67 208.07 155.36C205.88 157.47 204.94 159.32 205.52 162.58C208.96 181.79 211.99 201.06 215.34 220.29C217.63 233.41 209.58 244.65 196.37 246.19C191.81 246.73 187.59 245.33 183.57 243.22C166.04 233.98 148.49 224.77 130.98 215.5C129.4 214.66 128.19 214.52 126.49 215.42C108.7 224.79 90.83 234.02 73.02 243.34C59.81 250.25 44.3 243.79 41.68 229.57C40.74 224.45 41.88 218.82 42.73 213.53C45.53 196.17 48.63 178.86 51.65 161.54C51.96 159.74 51.48 158.51 50.14 157.21C35.73 143.14 21.4 128.99 7.04999 114.87C0.589989 108.52 -1.68001 100.97 1.26999 92.35C4.25999 83.61 10.85 79.19 19.89 77.91C39.5 75.13 59.09 72.17 78.71 69.4C80.53 69.14 81.32 68.34 82.07 66.82C90.78 49.25 99.71 31.8 108.23 14.14C111.98 6.35 117.71 1.68 126.05 0C127.6 0 129.15 0 130.7 0ZM20.17 98.84C36.02 114.31 51.29 129.15 66.47 144.08C71.75 149.28 73.47 155.74 72.24 162.99C68.82 183.19 65.36 203.38 61.94 223.57C61.83 224.24 61.93 224.95 61.93 225.81C80.61 215.99 98.94 206.45 117.18 196.72C124.63 192.75 131.85 192.61 139.3 196.56C155.53 205.17 171.81 213.69 188.07 222.24C190.17 223.35 192.29 224.41 194.9 225.75C194.82 224.49 194.85 223.78 194.73 223.08C191.5 204.13 188.45 185.14 184.94 166.24C183.15 156.59 185.06 148.7 192.39 141.8C206.2 128.79 219.64 115.39 233.23 102.15C234.15 101.25 235.02 100.29 236.22 99.03C234.93 98.65 234.22 98.35 233.48 98.25C214.35 95.48 195.24 92.55 176.07 90.05C166.24 88.77 159.57 84.07 155.41 75.01C150.13 63.51 144.3 52.26 138.69 40.91C135.41 34.27 132.11 27.63 128.62 20.6C127.97 21.8 127.5 22.62 127.08 23.46C117.93 41.69 108.83 59.94 99.62 78.13C96.28 84.73 90.73 88.43 83.44 89.49C66.03 92.03 48.62 94.53 31.22 97.07C27.73 97.58 24.25 98.18 20.17 98.83V98.84Z" fill="black"/>
<path d="M20.1699 98.8403C24.2499 98.1903 27.7299 97.5904 31.2199 97.0804C48.6299 94.5404 66.0399 92.0404 83.4399 89.5004C90.7299 88.4404 96.2799 84.7404 99.6199 78.1404C108.83 59.9403 117.93 41.6903 127.08 23.4704C127.5 22.6304 127.97 21.8104 128.62 20.6104C132.11 27.6404 135.41 34.2703 138.69 40.9203C144.29 52.2703 150.13 63.5203 155.41 75.0203C159.57 84.0803 166.25 88.7803 176.07 90.0603C195.24 92.5603 214.35 95.4904 233.48 98.2604C234.22 98.3704 234.92 98.6704 236.22 99.0404C235.01 100.3 234.15 101.26 233.23 102.16C219.64 115.4 206.2 128.8 192.39 141.81C185.07 148.71 183.15 156.6 184.94 166.25C188.45 185.15 191.5 204.14 194.73 223.09C194.85 223.78 194.82 224.5 194.9 225.76C192.3 224.42 190.17 223.35 188.07 222.25C171.81 213.7 155.53 205.18 139.3 196.57C131.85 192.62 124.62 192.76 117.18 196.73C98.9399 206.45 80.6099 216 61.9299 225.82C61.9299 224.96 61.8299 224.25 61.9399 223.58C65.3599 203.38 68.8199 183.19 72.2399 163C73.4699 155.76 71.7499 149.29 66.4699 144.09C51.2899 129.16 36.0199 114.33 20.1699 98.8503V98.8403Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_2008_25">
<rect width="256.78" height="246.3" fill="white"/>
</clipPath>
</defs>
</svg>
<a href="/tag/popular/"><strong>Popular</strong></a></li>
<li class="nav-list"><svg width="20" height="24" viewBox="0 0 202 250" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2008_33)">
<path d="M136.88 242H33.7C19.23 242 7.5 230.27 7.5 215.8V33.7C7.5 19.23 19.23 7.5 33.7 7.5H167.78C182.25 7.5 193.98 19.23 193.98 33.7V191.26L136.88 242Z" fill="white"/>
<path d="M139.73 249.5H33.7C15.12 249.5 0 234.38 0 215.8V33.7C0 15.12 15.12 0 33.7 0H167.78C186.36 0 201.48 15.12 201.48 33.7V194.63L139.73 249.5ZM33.7 15C23.39 15 15 23.39 15 33.7V215.8C15 226.11 23.39 234.5 33.7 234.5H134.03L186.48 187.89V33.7C186.48 23.39 178.09 15 167.78 15H33.7Z" fill="#231F20"/>
<path d="M142.19 236.27H127.19V217.55C127.19 196.66 144.19 179.67 165.07 179.67H194.78V194.67H165.07C152.45 194.67 142.19 204.94 142.19 217.55V236.27Z" fill="#231F20"/>
<path d="M164.73 54.0703H38.1201V70.0703H164.73V54.0703Z" fill="#231F20"/>
<path d="M164.73 89.1797H38.1201V105.18H164.73V89.1797Z" fill="#231F20"/>
<path d="M164.73 124.3H38.1201V140.3H164.73V124.3Z" fill="#231F20"/>
</g>
<defs>
<clipPath id="clip0_2008_33">
<rect width="201.48" height="249.5" fill="white"/>
</clipPath>
</defs>
</svg>

<a href="/tag/reading-lists/"> <strong>Drafts</strong></a></li>
    
    <li class="nav-list"><svg width="20" height="24" viewBox="0 0 147 169" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2008_30)">
<path d="M130.835 57.6665C130.754 39.0691 121.454 25.1171 107.27 19.2923C92.6739 13.2978 76.3631 16.3758 65.3409 27.3791C53.1623 39.5296 41.0808 51.769 28.9912 64.0083C26.8482 66.1734 24.6648 68.2012 21.3492 67.9023C18.2197 67.6195 15.8988 66.0442 14.6858 63.0873C13.4324 60.0336 13.9742 57.1979 16.2384 54.847C21.0905 49.8139 26.0234 44.8535 30.9482 39.8932C39.2128 31.5639 47.2186 22.952 55.8471 15.0105C71.6242 0.509103 90.2075 -3.65955 110.416 3.27205C130.132 10.034 142.237 24.3253 146.014 44.8939C149.378 63.2328 144.065 79.3095 130.997 92.5345C109.535 114.266 87.9028 135.837 66.19 157.318C55.3457 168.039 42.1806 171.569 27.5841 167.134C12.6237 162.586 3.42912 152.124 0.663467 136.709C-1.7302 123.363 2.45063 111.819 12.0091 102.237C27.9722 86.2573 43.9516 70.2936 59.9228 54.3219C65.5511 48.699 71.0986 42.9793 76.8321 37.4695C83.6977 30.8611 93.8141 29.1322 102.329 33.1635C111.411 37.4614 116.004 44.8697 116.036 54.8551C116.061 60.8657 113.764 66.1896 109.494 70.4633C87.5146 92.4779 65.4945 114.444 43.4583 136.402C40.1023 139.747 35.4282 139.739 32.2582 136.556C29.1529 133.437 29.2661 128.736 32.614 125.375C54.0276 103.934 75.4654 82.5168 96.8386 61.0353C98.0839 59.7831 99.2403 58.135 99.7094 56.4627C100.68 52.9889 99.0382 49.6523 96.0946 48.0608C92.9731 46.3643 89.3665 46.9298 86.617 49.6766C73.0071 63.2328 59.4214 76.8132 45.8277 90.3855C37.9755 98.2219 30.0829 106.01 22.2792 113.895C15.0659 121.19 13.2706 129.794 16.7803 139.375C19.9098 147.915 28.3685 153.691 37.9836 153.828C44.4449 153.925 50.0732 151.558 54.6826 146.953C65.7695 135.877 76.8483 124.793 87.9189 113.709C98.5368 103.077 109.179 92.4618 119.756 81.7816C127.18 74.2845 130.754 65.1636 130.819 57.6665H130.835Z" fill="black"/>
</g>
<defs>
<clipPath id="clip0_2008_30">
<rect width="147" height="169" fill="white"/>
</clipPath>
</defs>
</svg>
<a href="/tag/projects-2/"><strong>Projects</strong></a></li>
    <li class="nav-list">
        <svg width="20" height="24" viewBox="0 0 210 258" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2008_46)">
<path d="M209.64 143.61C207.58 148.11 204.3 151.62 200.84 155.07C168.4 187.45 135.93 219.8 103.68 252.37C96.46 259.66 85.59 259.56 78.53 252.39C54.44 227.92 30.05 203.76 5.77995 179.48C-1.92005 171.78 -1.90005 162.4 5.81995 154.67C9.66995 150.82 13.54 146.98 17.6 142.93C13.44 138.77 9.21995 134.94 5.49995 130.67C3.41995 128.29 1.61995 125.36 0.679951 122.37C-0.930049 117.26 0.469951 112.43 3.92995 108.29C4.62995 107.46 5.41995 106.7 6.18995 105.93C38.12 73.99 70.07 42.06 101.96 10.08C105.88 6.15 109.81 2.31 114.96 0C144.84 0 174.73 0 204.61 0C206.29 1.68 207.97 3.36 209.65 5.04V143.61H209.64ZM193.6 16.12H190.49C167.58 16.12 144.66 16.15 121.75 16.07C119.63 16.07 118.17 16.75 116.71 18.22C83.86 51.14 50.97 84.02 18.09 116.92C17.52 117.49 16.98 118.1 16.59 118.53C41.54 143.51 66.38 168.37 91.27 193.29C91.59 192.99 92.03 192.61 92.44 192.2C125.67 158.95 158.9 125.7 192.08 92.39C192.95 91.52 193.53 89.95 193.53 88.7C193.62 65.53 193.59 42.35 193.59 19.18C193.59 18.27 193.59 17.36 193.59 16.13L193.6 16.12ZM193.6 114.64C193.35 114.52 193.09 114.4 192.84 114.28C192.2 115.06 191.61 115.9 190.9 116.61C161.83 145.72 132.74 174.81 103.66 203.91C95.72 211.85 86.45 211.84 78.46 203.85C64.86 190.25 51.2699 176.66 37.6899 163.05C34.8499 160.21 32.08 157.3 29.54 154.69C25.12 159.11 20.95 163.28 17.1 167.13C41.71 191.79 66.52 216.65 91.62 241.79C91.95 241.35 92.35 240.68 92.88 240.15C125.03 207.95 157.15 175.71 189.44 143.66C192.58 140.54 193.93 137.53 193.68 133.18C193.33 127.02 193.59 120.83 193.59 114.65L193.6 114.64Z" fill="black"/>
<path d="M193.6 16.1204C193.6 17.3504 193.6 18.2604 193.6 19.1704C193.6 42.3404 193.62 65.5204 193.54 88.6904C193.54 89.9404 192.95 91.5104 192.09 92.3804C158.92 125.69 125.68 158.94 92.4501 192.19C92.0401 192.6 91.6001 192.99 91.2801 193.28C66.3901 168.36 41.5501 143.5 16.6001 118.52C17.0001 118.09 17.5301 117.48 18.1001 116.91C50.9701 84.0204 83.8601 51.1404 116.71 18.2204C118.17 16.7504 119.63 16.0604 121.75 16.0704C144.66 16.1404 167.58 16.1204 190.49 16.1204H193.6ZM169.53 32.2604C164.97 32.2604 161.34 35.8504 161.37 40.3004C161.41 44.7204 165.16 48.3804 169.62 48.3404C174.01 48.3004 177.53 44.7404 177.55 40.3304C177.57 35.6704 174.17 32.2604 169.53 32.2604Z" fill="white"/>
<path d="M193.6 114.64C193.6 120.82 193.34 127.01 193.69 133.17C193.94 137.52 192.59 140.54 189.45 143.65C157.16 175.71 125.04 207.95 92.8901 240.14C92.3601 240.67 91.9601 241.34 91.6301 241.78C66.5401 216.64 41.7201 191.77 17.1101 167.12C20.9701 163.26 25.1301 159.09 29.5501 154.68C32.0901 157.29 34.8701 160.19 37.7001 163.04C51.2801 176.65 64.8701 190.25 78.4701 203.84C86.4501 211.82 95.7201 211.84 103.67 203.9C132.75 174.81 161.84 145.71 190.91 116.6C191.62 115.89 192.2 115.05 192.85 114.27C193.1 114.39 193.36 114.51 193.61 114.63L193.6 114.64Z" fill="#D1D3D4"/>
<path d="M169.53 32.2598C174.18 32.2598 177.57 35.6698 177.55 40.3298C177.53 44.7398 174.01 48.2998 169.62 48.3398C165.16 48.3798 161.41 44.7198 161.37 40.2998C161.33 35.8498 164.97 32.2598 169.53 32.2598Z" fill="black"/>
</g>
<defs>
<clipPath id="clip0_2008_46">
<rect width="209.64" height="257.81" fill="white"/>
</clipPath>
</defs>
</svg>
<a href="/collections/"><strong>Tags</strong></a></li>
<li class="nav-list">
    <svg width="20" height="24" viewBox="0 0 268 168" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2101_2)">
<path d="M243.89 7.5H23.61C14.7127 7.5 7.5 14.7127 7.5 23.61V143.99C7.5 152.887 14.7127 160.1 23.61 160.1H243.89C252.787 160.1 260 152.887 260 143.99V23.61C260 14.7127 252.787 7.5 243.89 7.5Z" fill="white" stroke="#231F20" stroke-width="15" stroke-miterlimit="10"/>
<path d="M254.81 11.7695L133.75 115.8L15.2 16.8195" stroke="#231F20" stroke-width="15" stroke-miterlimit="10"/>
<path d="M11.78 154.92L86.32 80.3799" stroke="#231F20" stroke-width="15" stroke-miterlimit="10"/>
<path d="M254.81 155.83L176.88 77.9004" stroke="#231F20" stroke-width="15" stroke-miterlimit="10"/>
</g>
<defs>
<clipPath id="clip0_2101_2">
<rect width="267.5" height="167.6" fill="white"/>
</clipPath>
</defs>
</svg>
<a  href="#/portal/signup"><strong>Subscribe</strong></a></li>

    </ul>
</div>